header {

    background: linear-gradient(15deg, rgba(227,196,11, 0.8) 20%, rgba(162,232,6, 0.8) 40%,rgba(57,181,131, 0.8) 90%);
    
}



.events-item {
    margin: 15px;
}
.events-item p {
    line-height: 1.15;
    padding: 0;
    font-size: 14px;
} 



#events .events-item .events-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#events .events-item .events-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: #ffffff;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#events .events-item .events-link .caption:hover {
    opacity: 0.4;
}

    
@media(min-width:767px) {
    #events .events-item {
        margin: 0 0 30px;
    }
}

.events-modal .modal-content time {
    font-style: italic;
    font-size: 13px;
   
}
.events-modal .modal-content button {
    font-style: italic;
    font-size: 13px;  
   
}

.events-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    text-align: left;
   
}
   .events-modal .modal-content p {
    font-size: 14px;
    line-height: 1.75;
   
} 

.events-modal .modal-content header {
    font-style: italic;
    padding-top: 20px;
    padding-bottom: 20px;
   
}

.events-modal .modal-content header h1{
    font-size: 35px;
}
   

