body    
    {
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }


h3   {
    line-height: 1.75;
    text-align: center;
    }


p   {
    font-size: 14px;
    line-height: 1.75;
    padding: 20px;
    }

a,a:visited
    {
    color:black;
    text-decoration: none;
    }
 
a:hover
    {
    color:#808080;
    text-decoration: none;
    }

.navbar-brand
    {
    padding:8px;
    }
    
.navbar-brand>img 
        {
        padding:-50px 15px;
        width:80px;
        }
    
@media(min-width:768px) 
    {
    .navbar-brand 
        {
        padding: 0px;
        }

    .navbar-brand>img 
        {
        padding:-50px 15px;
        width:100px;
        }
    }

.navbar-default .navbar-collapse 
    {
    max-height:100%;
    }
    
.navbar-right .navBorder 
    {border-left:2px solid #DCDCDC;}
    
@media(min-width:768px) 
    {
    .navbar-default 
        {
        padding: 25px 0;
        -webkit-transition: padding .5s ease-in-out;
        -moz-transition: padding .5s ease-in-out;
        transition: padding .5s ease-in-out;
        }
 
    .navbar-default .navbar-brand 
        {
        font-size: 18px;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
        }
 
    .navbar-default.navbar-shrink 
        {
        padding: 5px 0;
        }
 
    .navbar-default.navbar-shrink .navbar-brand 
        {
        font-size: 1.5em;
        }
    }
    
input 
    {
    outline: none;
    }

input::-webkit-search-decoration,
input::-webkit-search-cancel-button 
    {
    display: none; 
    }
    
input[type=search] 
        {
        background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 11px center;
        border: none;
        padding: 9px 10px 9px 32px;
        margin-top: 3px;
        width: 300px;	

        -webkit-border-radius: 10em;
        -moz-border-radius: 10em;
        border-radius: 10em;

        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        transition: all .5s;
        }
        
@media(min-width:767px)
    {
    input[type=search] 
        {
        background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 11px center;
        border: none;
        padding: 9px 10px 9px 32px;
        margin-top: 3px;
        width: 15px;	

        -webkit-border-radius: 10em;
        -moz-border-radius: 10em;
        border-radius: 10em;

        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        transition: all .5s;
        }
    }

input[type=search]:focus 
    {
    width: 300px;
    padding-left: 32px;
    color: #000;
    background-color: #fff;
    cursor: auto;	
    }
    
@media(min-width:767px)
    {
    input[type=search]:focus 
        {
        width: 130px;
        padding-left: 32px;
        color: #000;
        background-color: #fff;
        cursor: auto;	
        }
    }

input[type=search]:hover 
    {
    background-color: #fff;
    }

li ul 
    {
    display:none;
    list-style-type: none;	
    }

li:hover ul
    {
    display: block;
    position: absolute;
    z-index:1;
    width:180px;
    padding: 0;
    margin: 0 0 0 -1px;
    border:none;
    background: white;
    }

li li   
    { 
    border:none; 
    width:300px; 
    margin: 10px;
    }

li li a, li li a:visited
    { 
    padding:2px 2px 2px 10px;
    color:#808080;
    text-decoration: none;
    }
    
li li a:hover
    { 
    color:black;
    text-decoration: none;
    }
    
#personalcollapse
    { overflow: hidden;}

.carousel
    {
    margin-bottom: -60px;
    }
    
.carousel-caption
    {
    z-index: 10;
    margin-bottom: 10%;
    }
.container h5{
    text-align: center;
     }
@media (max-width: 1920px) 
    {
    .carousel-caption h1 
        { font-size: 100px; }
    .carousel-caption p 
        { font-size: 20px; }
    .secondCarousel h1 
        {font-size:40px;}
         .container h5 
        {font-size:60px;}
    }
 
@media (max-width: 1280px) 
    {
    .carousel-caption h1 
        { font-size: 80px; } 
    .carousel-caption p 
        { font-size: 12px; }
    .secondCarousel h1 
        {font-size:40px;}
         .container h5 
        {font-size:60px;}
    }
 
@media (max-width: 1024px) 
    {
    .carouselElem
        {
        position:absolute;
        margin-top:10%;
        }
    .carousel-caption h1 
        { font-size: 60px; } 
    .carousel-caption p 
        { font-size: 11px; }
    .secondCarousel h1 
        {font-size:40px;}
         .container h5 
        {font-size:60px;}
    }
    
@media (max-width: 800px) 
    {
    .carouselElem
        {
        position:absolute;
        margin-top:7%;
        }
     .carousel-caption 
        { margin-bottom: 6%; }
    .carousel-caption h1 
        { font-size: 40px; } 
    .carousel-caption p 
        { font-size: 12px; }
    .featurette
        { text-align: center; }
    .secondCarousel h1 
        {font-size:20px;}
         .container h5 
        {font-size:25px;}
    }
 
@media (max-width: 700px) 
    {
    .carouselElem
        {
        position:absolute;
        margin-top:3%;
        }
    .carousel-caption 
        {
        z-index: 10;
        margin-bottom: 10px;
        }
    .carousel-caption h1 
        { display: none; } 
    .carousel-caption p 
        { font-size: 12px; }
    .featurette
        { text-align: center; }
    .secondCarousel h1 
        {font-size:20px;}
          .container h5 
        {font-size:25px;}
    }
 
@media (max-width: 500px) 
    {
    .carouselElem
        {
        position:absolute;
        margin-top:10%;
        }
    .carousel-caption 
        {
        z-index: 10;
        margin-bottom: 8px;
        }
    .carousel-caption h1, 
        { display: none; }
    .secondCarousel h1 
        {font-size:20px;}
    .carousel-caption p 
        { font-size: 10px; }
          .container h5 
        {font-size:25px;}
    .featurette
        { text-align: center; }
    }
    
.secondCarousel
    {text-align: center;}
    
.newInvestor
    {text-align: center;}



footer 
    {
    position: relative;
    bottom: 0px;
    width:100%;
    background-color: #014a3a;
    }
    
.social-icon
    {
    width:50px;
    height:50px;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all 0.5s ease;
    }

.social-icon:hover {
    border-radius: 100px;
				}
.copyright{
    font-size: 20px;
    color: white;    
}

.quicklinks{
    text-transform: uppercase;
    font-size: 20px;
    color: white;
}
img{
    padding: px;
}
